<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imaName</key>
		<string>note_img1</string>
		<key>bt</key>
		<string>关于设计反馈的5间事</string>
		<key>name</key>
		<string>share小白</string>
		<key>nr</key>
		<string>设计文章-原创-理论</string>
		<key>time</key>
		<string>16分钟前</string>
		<key>n1</key>
		<string>102</string>
		<key>n2</key>
		<string>26</string>
		<key>n3</key>
		<string>20</string>
		<key>t1</key>
		<string>button_guanzhu</string>
		<key>t2</key>
		<string>button_share</string>
		<key>t3</key>
		<string>button_zan</string>
	</dict>
	<dict>
		<key>imaName</key>
		<string>note_img2</string>
		<key>bt</key>
		<string>用户设计PK战！脸书vs人人</string>
		<key>name</key>
		<string>share小王</string>
		<key>nr</key>
		<string>设计文章-原创-Web/Falsh</string>
		<key>time</key>
		<string>17分钟前</string>
		<key>n1</key>
		<string>102</string>
		<key>n2</key>
		<string>26</string>
		<key>n3</key>
		<string>20</string>
		<key>t1</key>
		<string>button_guanzhu</string>
		<key>t2</key>
		<string>button_share</string>
		<key>t3</key>
		<string>button_zan</string>
	</dict>
	<dict>
		<key>imaName</key>
		<string>note_img3</string>
		<key>bt</key>
		<string>字体故事</string>
		<key>name</key>
		<string>share小吕</string>
		<key>nr</key>
		<string>设计文章-经验-设计观点</string>
		<key>time</key>
		<string>145分钟前</string>
		<key>n1</key>
		<string>102</string>
		<key>n2</key>
		<string>26</string>
		<key>n3</key>
		<string>20</string>
		<key>t1</key>
		<string>button_guanzhu</string>
		<key>t2</key>
		<string>button_share</string>
		<key>t3</key>
		<string>button_zan</string>
	</dict>
	<dict>
		<key>imaName</key>
		<string>note_img4</string>
		<key>bt</key>
		<string>版式整理术：高校解决多分格要求</string>
		<key>name</key>
		<string>share小王</string>
		<key>nr</key>
		<string>设计文章-经验-案例分析</string>
		<key>time</key>
		<string>4小时前</string>
		<key>n1</key>
		<string>102</string>
		<key>n2</key>
		<string>26</string>
		<key>n3</key>
		<string>20</string>
		<key>t1</key>
		<string>button_guanzhu</string>
		<key>t2</key>
		<string>button_share</string>
		<key>t3</key>
		<string>button_zan</string>
	</dict>
</array>
</plist>
