<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imaName</key>
		<string>list_img1</string>
		<key>bt</key>
		<string>假日</string>
		<key>name</key>
		<string>share小白</string>
		<key>nr</key>
		<string>原创-插画-练习习作</string>
		<key>time</key>
		<string>15分钟前</string>
		<key>n1</key>
		<string>102</string>
		<key>n2</key>
		<string>26</string>
		<key>n3</key>
		<string>20</string>
		<key>t1</key>
		<string>button_guanzhu</string>
		<key>t2</key>
		<string>button_share</string>
		<key>t3</key>
		<string>button_zan</string>
	</dict>
	<dict>
		<key>imaName</key>
		<string>list_img2</string>
		<key>bt</key>
		<string>国外画册欣赏</string>
		<key>name</key>
		<string>share小王</string>
		<key>nr</key>
		<string>平面设计-画册设计</string>
		<key>time</key>
		<string>16分钟前</string>
		<key>n1</key>
		<string>102</string>
		<key>n2</key>
		<string>26</string>
		<key>n3</key>
		<string>20</string>
		<key>t1</key>
		<string>button_guanzhu</string>
		<key>t2</key>
		<string>button_share</string>
		<key>t3</key>
		<string>button_zan</string>
	</dict>
	<dict>
		<key>imaName</key>
		<string>list_img3</string>
		<key>bt</key>
		<string>collection扁平设计</string>
		<key>name</key>
		<string>share小吕</string>
		<key>nr</key>
		<string>平面设计-海报设计</string>
		<key>time</key>
		<string>17分钟前</string>
		<key>n1</key>
		<string>45</string>
		<key>n2</key>
		<string>105</string>
		<key>n3</key>
		<string>20</string>
		<key>t1</key>
		<string>button_guanzhu</string>
		<key>t2</key>
		<string>button_share</string>
		<key>t3</key>
		<string>button_zan</string>
	</dict>
	<dict>
		<key>imaName</key>
		<string>list_img4</string>
		<key>bt</key>
		<string>假日</string>
		<key>name</key>
		<string>share小白</string>
		<key>nr</key>
		<string>原创-插画-练习习作</string>
		<key>time</key>
		<string>15分钟前</string>
		<key>n1</key>
		<string>102</string>
		<key>n2</key>
		<string>26</string>
		<key>n3</key>
		<string>20</string>
		<key>t1</key>
		<string>button_guanzhu</string>
		<key>t2</key>
		<string>button_share</string>
		<key>t3</key>
		<string>button_zan</string>
	</dict>
</array>
</plist>
